[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
black = "*"
sphinx = "*"
isort = "*"
mypy = "*"
gitlint = "*"
types-setuptools = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3"
